.ss01 {
  font-feature-settings: "ss01" 1;
}

.ss02 {
  font-feature-settings: "ss02" 1;
}

.ss03 {
  font-feature-settings: "ss03" 1;
}

.ligatures {
  font-family: 'Bezoar-Liga', sans-serif;
  font-feature-settings: "liga" 1;
}


.s5 {
  color: #fff;
  padding: 30px;
}

.typechecker {
  display: flex;
  flex-direction: row;
}

.left-section {
  flex: 1;
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 50px;

  height: 100vh;
  position: sticky;

  top: 0;

  width: 50vw;

  transition: background-color 0.5s ease-in-out;

}

.right-section {
  flex: 1;
  padding: 0px;
  width: 50vw;
}

.big-letter {


  font-size: 35vw;
  transition: opacity 5s ease-in-out;


}

.letter-list {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  /* Create a grid with 10 columns */
  gap: .5vw;
  /* Adjust the gap between grid items as needed */
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 30px;
}

.letter {
  font-size: 2vw;
  /* Adjust size as needed */
  cursor: pointer;
  text-align: center;
  padding: 0.5vw;


  border-radius: 5px;
  /* Optional: Add border radius for rounded corners */
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  /* Ensure each letter has the same width and height */

  transition: all 0.1s;
}

.letter:hover {

  transform: scale(2);
}

.s6 {
  height: 100vh;
}

.alternate-ss02 {
  font-feature-settings: "ss02" 1;

}

/* Small devices (phones, portrait) */
@media (max-width: 768px) {

  /* .left-section {
    display: none;
  } */

  .typechecker {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-section {

    height: 50vh;
    width: 80vw;

    z-index: 99;
    background-color: black;
    border-radius: 30px;

  }

  .right-section {
    width: 80vw;
  }

  .big-letter {
    font-size: 45vw;


  }

  .letter {
    font-size: 5vw;
  }
}

/* Extra large devices (large desktops) */
@media (min-width: 769px) {


  .left-section {
    display: flex;
  }


}